*
{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body
{
    background-image: url("./image/index.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
}


nav a 
{   
    color: aliceblue;
    font-size: 20px;
}